
 <div id="user-profile">
 {{#if user}} 
<h2> Welcome {{ user.username }}!</h2>
<p>{{message}}</p>
<br>
<br>
<br>
<br>
  <button class="form" >
    <a href="/auth/userProfile">Reload the page</a>
  </button>
{{/if}}
</div>