body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.png");
  background-color: grey;
}


a {
  color: white;
 
  text-decoration: none;
}



.signup {
  height: 30px;
  width: 250px;
  margin: 435px 0px 0px 450px;
  background-color: red;
  border: 0px;
}

.login {
  height: 30px;
  width: 250px;
  margin: 15px 0px 0px 450px;
  background-color: blue;
  border: 0px;
}

#form {
  margin: 200px 0px 0px 450px;
}

.form {
  width: 250px;
  height: 30px;
  background-color: red;
  color: white;
  border: 0px;
}

#login-form {
  margin: 200px 0px 0px 450px;
}


#user-profile {
  margin: 200px 0px 0px 450px
}